@page "/sample"
@rendermode InteractiveServer

<PageTitle>Raygun Sample</PageTitle>

<h1>Raygun Sample</h1>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private void IncrementCount()
    {
        // Nothing
    }

}